<main class="d-flex flex-rows justify-content-between">
  <article class="col-8">
    <h2>HQ Portal</h2>

    <div class="d-flex flex-row justify-content-between">
      <div class="alert alert-secondary col-8" *ngIf="!selectedAgent">
        Ready For Connection!
      </div>
      <div
        class="alert col-8"
        *ngIf="selectedAgent"
        [ngClass]="{
          'alert-primary': !connected,
          'alert-success': connected,
        }"
      >
        <span *ngIf="!connected"
          >Connecting to agent {{ selectedAgent.name }} ({{
            selectedAgent.identification
          }}) ...</span
        >
        <span *ngIf="connected">
          Connected to agent {{ selectedAgent.name }} ({{
            selectedAgent.identification
          }}) → All Of Agent {{ selectedAgent.name }}'s Reports:
          <b>{{ reports.length }}</b> In Total
        </span>
      </div>

      <form class="col-3">
        <mat-form-field class="w-100">
          <mat-label>Lookback Window (In mins)</mat-label>
          <input
            matInput
            type="type"
            [formControl]="lookbackWindow"
            [matAutocomplete]="auto"
          />

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of lookbackOptions"
              [value]="option.label"
            >
              {{ option.label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="reports-container">
      <div
        class="my-1 d-flex flex-row justify-content-between alert alert-light cursor--pointer"
        *ngFor="let report of reports"
        (click)="viewReportDetail(report)"
      >
        <div class="d-flex flex-row justify-content-between col-9">
          <div class="col-1">{{ report.agent.name }}</div>
          <div class="col-11">
            &nbsp;|&nbsp;&nbsp;{{ report.message.slice(0, 75) }} ...
          </div>
        </div>
        <div class="col-3">
          {{ report.createDt | date: "medium" }}
        </div>
      </div>
    </div>
  </article>

  <article class="col-3">
    <h2>Agents Available</h2>

    <div class="d-flex flex-column justify-content-start agents-container">
      <div *ngFor="let agent of agents$ | async" class="my-1">
        <button
          mat-raised-button
          class="w-100"
          (click)="retrieveReports(agent)"
          [color]="
            selectedAgent?.identification === agent.identification
              ? 'primary'
              : ''
          "
        >
          <span class="col-5">
            {{ agent.identification }}
          </span>
          —
          <span class="col-5">
            {{ agent.name }}
          </span>
        </button>
      </div>
      <span id="bottom-placeholder"></span>
    </div>
  </article>
</main>
