<main class="d-flex flex-rows justify-content-between">
  <article class="col-5">
    <h4>Chat Request</h4>
    <div class="d-flex flex-rows justify-content-between w-100">
      <mat-form-field appearance="fill" class="col-8">
        <mat-label>Session ID</mat-label>
        <input matInput [(ngModel)]="sessionId" />
      </mat-form-field>
      <button
        mat-raised-button
        type="button"
        color="primary"
        class="mt-3 col-3"
        (click)="generateSessionId()"
      >
        New Session
      </button>
    </div>

    <form [formGroup]="form" class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <mat-select
          (selectionChange)="handleModelChange($event)"
          formControlName="modelIndex"
        >
          <mat-option *ngFor="let model of models; index as i" [value]="i">
            {{ model }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-flex flex-rows justify-content-between">
        <mat-form-field appearance="fill" class="w-25">
          <mat-label>Temperature</mat-label>
          <input matInput formControlName="temperature" />
          <mat-hint>Temperature controlling randomness (0-2)</mat-hint>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill" class="w-25">
          <mat-label>Top P</mat-label>
          <input matInput formControlName="topP" />
          <mat-hint>Top P for nucleus sampling (0-1)</mat-hint>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill" class="w-25">
          <mat-label>Presence Penalty</mat-label>
          <input matInput formControlName="presencePenalty" />
          <mat-hint>Presence penalty (-2 to 2)</mat-hint>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill" class="w-25">
          <mat-label>Frequency Penalty</mat-label>
          <input matInput formControlName="frequencyPenalty" />
          <mat-hint>Frequency penalty (-2 to 2)</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="mt-4">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" rows="15"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        type="button"
        color="primary"
        class="mt-3"
        (click)="sendChat()"
        [disabled]="buttonDisabled"
      >
        Submit
      </button>
    </form>
  </article>

  <article class="col-6">
    <h4>Chat Details</h4>

    <div
      class="d-flex flex-column justify-content-start chat-container"
      #chatContainer
    >
      <ng-container *ngIf="chatsMap[sessionId] as chats">
        <ng-container *ngFor="let pair of chats">
          <mat-card
            *ngFor="let chat of pair"
            class="w-75 mb-1"
            [class.me-auto]="!chat.isUser"
            [class.ms-auto]="chat.isUser"
          >
            <mat-card-content
              class="text-white"
              [ngClass]="{
                'text-end': chat.isUser,
                'text-start': !chat.isUser
              }"
            >
              <h4>{{ chat?.isUser ? "User" : "Assistant" }}</h4>
              <p>{{ chat.content }}</p>
            </mat-card-content>
          </mat-card>

          <p class="text-center my-1" *ngIf="pair[0] as pF">
            {{ pF.timestamp | date : "short" }}
          </p>
        </ng-container>

        <span id="bottom-placeholder"></span>
      </ng-container>
    </div>
  </article>
</main>
