<main class="d-flex flex-rows justify-content-between">
  <article class="col-5 d-flex flex-column">
    <h2>Agent Portal</h2>

    <mat-card class="mb-2">
      <mat-card-header>
        <mat-card-subtitle
          >Agent Names and Identifications for Testing</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content
        class="d-flex flex-wrap flex-rows"
        style="max-height: 25vh; overflow-y: scroll"
      >
        <button
          mat-stroked-button
          *ngFor="let agent of agents$ | async"
          class="me-1 mb-1 event--disabled"
        >
          {{ agent.name }} {{ agent.identification }}
        </button>
      </mat-card-content>
    </mat-card>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput [formControl]="message" rows="15"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="button"
      color="primary"
      class="mt-3"
      (click)="sendRequest()"
      [disabled]="message.invalid"
      [disabled]="buttonDisabled"
    >
      <div class="spinner-border" *ngIf="buttonDisabled; else avail">
        <span class="visually-hidden">Loading...</span>
      </div>
      <ng-template #avail> Submit </ng-template>
    </button>
  </article>

  <article class="col-6">
    <h2>History</h2>

    <div class="d-flex flex-column justify-content-start chat-container">
      <ng-container *ngFor="let conversation of conversations$ | async">
        <div
          class="w-75 mb-1 alert"
          [ngClass]="{
            'text-end alert-primary ms-auto': conversation.user,
            'text-start alert-secondary me-auto': !conversation.user,
          }"
        >
          <h4>{{ conversation.user ? "User" : "Assistant" }}</h4>
          <div
            [innerHTML]="conversation.message"
            style="white-space: pre-wrap"
          ></div>
        </div>
        <p
          class="mb-3 w-100"
          [ngClass]="{
            'text-end': !conversation.user,
            'text-start': conversation.user,
          }"
        >
          <span
            class="w-75 d-inline-block"
            [ngClass]="{
              'text-end': conversation.user,
              'text-start': !conversation.user,
            }"
          >
            {{ conversation.createDt | date: "short" }}
          </span>
        </p>
      </ng-container>
      <span id="bottom-placeholder"></span>
    </div>
  </article>
</main>
