html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:disabled,
button[disabled] {
  background-color: gray !important;
  color: darkgray !important;
}
